@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error 404</title>
    <style>
        body {
            background-image:url("~/Content/room1.jpg");
            background-color: #c7b39b;
        }
    </style>
</head>
<body>
    <h2>Error 404. Not found.</h2>
</body>
</html>
