@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Ukraine<br />
    Kharkiv, Tsilinogradska str. 36<br />
</address>

<address>
    <span class="glyphicon glyphicon-envelope"></span>
    <a href="mailto:oleksandr.rybitskyi@nure.ua">oleksandr.rybitskyi@nure.ua</a>
    <br />
    <span class="glyphicon glyphicon-phone"></span>
    +380957825355
</address>